[workspace]
members = [
    "circuits/transfer",
    "contracts/stake",
    "contracts/transfer",
    "macros/code-hasher",
    "rusk-recovery",
    "rusk-profile",
    "rusk-abi",
    "rusk",
    "test-utils/transfer-wrapper",
]
resolver = "2"

[profile.dev.build-override]
opt-level = 3
debug = false
debug-assertions = false
overflow-checks = false
incremental = false
codegen-units = 16

[profile.release.build-override]
opt-level = 3
debug = false
debug-assertions = false
overflow-checks = false
incremental = false
codegen-units = 16
