[workspace]
members = [
    "circuits/transfer",
    "circuits/license",
    "circuits/storage",

    "contract-helpers",
    "contracts/alice",
    "contracts/bob",
    "contracts/charlie",
    "contracts/stake",
    "contracts/stake-types",
    "contracts/governance",
    "contracts/transfer",
    "contracts/transfer-types",
    "contracts/license",

    "rusk-prover",

    "rusk-recovery",
    "rusk-profile",

    "rusk-abi",
    "rusk-abi/tests/contracts/host_fn",

    "rusk",

    "node-data",
    "consensus",
    "node",
]
resolver = "2"

[profile.dev.build-override]
opt-level = 3
debug = false
debug-assertions = false
overflow-checks = false
incremental = false
codegen-units = 16

[profile.release.build-override]
opt-level = 3
debug = false
debug-assertions = false
overflow-checks = false
incremental = false
codegen-units = 16

[profile.release.package.stake-contract]
overflow-checks = true

[profile.release.package.transfer-contract]
overflow-checks = true
