[package]
name = "rusk"
version = "0.1.0"
authors = ["Victor Lopez <victor@dusk.network>"]
edition = "2018"

[dependencies]
tonic = "^0.1"
tokio = { version = "0.2", features = ["rt-threaded", "time", "stream", "fs", "macros", "uds"] }
tracing = "0.1"
tracing-subscriber = "0.1"
clap = "2.33"
prost = "0.6"
rusk-vm = { git = "ssh://git@github.com/dusk-network/rusk-vm.git", tag = "v0.1.2" }
phoenix-abi = { git = "https://github.com/dusk-network/phoenix-abi" }
kelvin = "0.11.2"
bytehash = "0.2"
hex = "^0.4"

[dependencies.phoenix]
git = "https://github.com/dusk-network/phoenix"

[build-dependencies]
tonic-build = { version = "0.1", default-features = false, features = ["transport"] }

# This is a temporary fix until we stop to use zexe; it's needed to replace
# in the dependency graph the library below with the revision specified.
# Unfortunately `patch` works matching just the URL - doesn't take in account
# revision or branches, see:  https://github.com/rust-lang/cargo/issues/5478
#
# A quick workaround is changing the URL with double slashes
[patch.'https://github.com/scipr-lab/zexe/']
algebra = { git = 'https://github.com/scipr-lab//zexe', rev="2c22b77" }
ff-fft = { git = "https://github.com/scipr-lab//zexe", rev="2c22b77" }
bench-utils = { git = "https://github.com/scipr-lab//zexe", rev="2c22b77" }

[patch.'https://github.com/scipr-lab/poly-commit']
poly-commit = { git = "https://github.com/scipr-lab//poly-commit", rev="77676213"}
