[workspace]
members = [
    "circuits/transfer",
#    "contracts/stake",
#    "contracts/transfer",
    "macros/code-hasher",
#    "rusk-recovery",
    "rusk-profile",
    "rusk-abi",
    "rusk-schema",
#    "rusk",
#    "test-utils/transfer-wrapper",
#    "test-utils/contracts/alice",
#    "test-utils/contracts/bob",
]
resolver = "2"

[profile.dev.build-override]
opt-level = 3
debug = false
debug-assertions = false
overflow-checks = false
incremental = false
codegen-units = 16

[profile.release.build-override]
opt-level = 3
debug = false
debug-assertions = false
overflow-checks = false
incremental = false
codegen-units = 16

[profile.release.package.stake-contract]
overflow-checks = true

[profile.release.package.transfer-contract]
overflow-checks = true
