[package]
name = "rusk-abi"
version = "0.8.0-piecrust.0.5"
edition = "2021"

repository = "https://github.com/dusk-network/rusk"
description = "The ABI to develop Dusk Network smart contracts"
license = "MPL-2.0"
exclude = [".github/workflows/ci.yml", ".gitignore"]

[dependencies]
blake2b_simd = { version = "1", default-features = false }
cfg-if = "1"

dusk-poseidon = { version = "0.30", default-features = false }
dusk-bls12_381 = { version = "0.11", default-features = false, features = ["rkyv-impl"] }
dusk-bls12_381-sign = { version = "0.4", features = ["rkyv-impl"] }
dusk-schnorr = { version = "0.13", default-features = false, features = ["rkyv-impl"] }
dusk-pki = { version = "0.12", default-features = false, features = ["rkyv-impl"] }
dusk-jubjub = { version = "0.12", default-features = false, features = ["rkyv-impl"] }
dusk-bytes = "0.1"
bytecheck = { version = "0.6", default-features = false }
piecrust-uplink = { version = "0.5", default-features = false }
piecrust = { version = "0.5", optional = true }
dusk-plonk = { version = "0.14", default-features = false, features = ["rkyv-impl", "alloc"] }

# These are patches since these crates don't seem to like semver.
rkyv = { version = "=0.7.39", default-features = false }
wasmer = { version = "=3.1", optional = true }

[dev-dependencies]
dusk-bytes = "0.1"
piecrust = "0.5"
rand_core = { version = "0.6", default-features = false, features = ["getrandom"] }
once_cell = "1.15"

[features]
host = ["piecrust", "piecrust-uplink/default"]
# re-export the features of `piecrust-uplink` to ensure this is the only crate
# needed for writing contracts.
dlmalloc = ["piecrust-uplink/dlmalloc"]

[[test]]
name = "test-rusk-abi"
path = "tests/lib.rs"
required-features = ["host"]
