[package]
name = "alice"
version = "0.3.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
dusk-core = { workspace = true }
dusk-abi = { workspace = true, features = ["abi", "dlmalloc"] }
