[package]
name = "stake-contract"
version = "0.7.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
dusk-bls12_381 = { version = "0.11", default-features = false, features = ["rkyv-impl"] }
dusk-bls12_381-sign = { version = "0.4", default-features = false, features = ["rkyv-impl"] }
dusk-bytes = "0.1"
dusk-jubjub = { version = "0.12", default-features = false, features = ["rkyv-impl"] }
dusk-pki = { version = "0.12", default-features = false, features = ["rkyv-impl"] }
phoenix-core = { version = "0.20.0-rc.0", default-features = false, features = ["rkyv-impl", "alloc"] }
rusk-abi = { version = "0.8.0-alpha", path = "../../rusk-abi", features = ["dlmalloc"] }
dusk-plonk = { version = "0.14", default-features = false, features = ["rkyv-impl", "alloc"] }

[dev-dependencies]
piecrust = "0.5"
rusk-profile = { version = "0.6", path = "../../rusk-profile" }
rusk-abi = { version = "0.8.0-alpha", path = "../../rusk-abi", features = ["host"] }
transfer-circuits = { version = "0.5", path = "../../circuits/transfer", features = ["builder"] }
rkyv = { version = "0.7", default-features = false }
hex = "0.4"
rand = "0.8"
poseidon-merkle = { version = "0.2.1-rc.0", features = ["rkyv-impl"] }
