[package]
name = "stake-contract"
version = "0.8.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
execution-core = { workspace = true }
dusk-bytes = { workspace = true }
rkyv = { workspace = true, features = ["size_32"] }

[target.'cfg(target_family = "wasm")'.dependencies]
rusk-abi = { workspace = true, features = ["abi", "dlmalloc"] }

[dev-dependencies]
rusk-abi = { workspace = true, features = ["host"] }
execution-core = { workspace = true, features = ["zk"] }
rusk-prover = { workspace = true }
wallet-core = { workspace = true }
rand = { workspace = true }
ff = { workspace = true }
criterion = { workspace = true }

[[bench]]
name = "get_provisioners"
harness = false
