[package]
name = "stake-contract"
version = "0.2.2"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
canonical = "0.6"
canonical_derive = "0.6"
dusk-abi = "0.10"
dusk-bls12_381 = { version = "0.8", default-features = false, features = ["canon"] }
dusk-bls12_381-sign = { version = "0.1.0-rc", features = ["canon"] }
dusk-bytes = "0.1"
microkelvin = "0.10"
dusk-hamt = { version = "0.5", default-features = false }
dusk-pki = { version = "0.9.0-rc", default-features = false }
dusk-plonk = { version = "0.9", optional = true }
dusk-schnorr = { version = "0.9.0-rc", default-features = false, features = ["canon"] }
lazy_static = { version = "1.4", optional = true }
phoenix-core = { version = "0.15.0-rc", default-features = false, features = ["canon"] }
rusk-profile = { path = "../../rusk-profile", optional = true }
rusk-abi = { path = "../../rusk-abi", features = ["module"] }
transfer-circuits = { path = "../../circuits/transfer", optional = true }
transfer-contract = { path = "../transfer", default-features = false, features = ["no-bridge"] }

[dev-dependencies]
stake-contract = { path = ".", features = ["transaction"] }
transfer-circuits = { path = "../../circuits/transfer" }
transfer-wrapper = { path = "../../test-utils/transfer-wrapper" }

[features]
default = ["transfer-contract/circuits"]
no-bridge = []
std = []
transaction = [
    "dusk-plonk",
    "lazy_static",
    "rusk-profile",
    "std",
    "transfer-circuits"
]
