[package]
name = "transfer"
version = "0.2.0"
authors = ["Jules de Smit <jules@dusk.network>"]
edition = "2018"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
canonical = { path = "../../../canonical/canon" }
canonical_derive = { path = "../../../canonical/canon_derive" }
canonical_host = { path = "../../../canonical/canon_host", optional = true }

[features]
hosted = ["canonical/hosted"]
host = ["canonical_host"]
