[package]
name = "transfer-contract"
version = "0.10.1"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
execution-core = { workspace = true }
ringbuffer = { workspace = true }

[target.'cfg(target_family = "wasm")'.dependencies]
rusk-abi = { workspace = true, features = ["abi", "dlmalloc"] }

[dev-dependencies]
rusk-abi = { workspace = true, features = ["host"] }
rusk-profile = { workspace = true }
rusk-prover = { workspace = true }
rkyv = { workspace = true, features = ["size_32"] }
rand = { workspace = true }
ff = { workspace = true }
dusk-bytes = { workspace = true }

[build-dependencies]
rusk-profile = { workspace = true }
