[package]
name = "transfer-contract"
version = "0.8.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
canonical = "0.7"
canonical_derive = "0.7"
dusk-abi = "0.11"
dusk-bls12_381 = { version = "0.9", default-features = false, features = ["canon"] }
dusk-bytes = "0.1"
dusk-jubjub = { version = "0.11", default-features = false, features = ["canon"] }
dusk-hamt = { version = "0.10.0-rc", default-features = false }
dusk-pki = { version = "0.10.0-rc", default-features = false }
dusk-poseidon = { version = "0.25.0-rc", default-features = false, features = ["canon"] }
microkelvin = { version = "0.15.0-rc", default-features = false }
phoenix-core = { version = "0.16.0-rc", default-features = false, features = ["canon"] }
rusk-abi = { path = "../../rusk-abi", features = ["module"] }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
dusk-plonk = "0.10"
lazy_static = "1.4"
rand = "0.8"
rusk-profile = { path = "../../rusk-profile" }
rusk-vm = "0.12.0-rc"
transfer-circuits = { path = "../../circuits/transfer", features = ["builder"] }

[dev-dependencies]
transfer-wrapper = { path = "../../test-utils/transfer-wrapper" }

[features]
default = ["circuits"]
no-bridge = []
circuits = []
