[package]
name = "transfer-contract"
version = "0.4.0"
authors = ["Victor Lopez <victor@dusk.network>"]
edition = "2018"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
canonical = {version="0.5", default-features=false}
canonical_derive = "0.5"
dusk-abi = {git="https://github.com/dusk-network/rusk-vm", tag="v0.3.0"}
dusk-bytes = "0.1"
dusk-bls12_381 = {version="0.6", features=["canon"], default-features=false}
dusk-jubjub = {version="0.8", features=["canon"], default-features=false}
dusk-poseidon = {version="0.18", features=["canon"], default-features=false}
dusk-pki = {git="https://github.com/dusk-network/dusk-pki", tag="v0.6.0", features = ["canon"]}
phoenix-core = {git="https://github.com/dusk-network/phoenix-core", tag="v0.9.0", features = ["canon"]}
dusk-kelvin-map = "0.3"

# Test dependencies
rand = {version="0.7", optional=true}
rusk-vm = {git="https://github.com/dusk-network/rusk-vm", tag="v0.3.0", optional=true}
canonical_host = {version="0.5", optional=true}

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

[features]
host=["rand", "rusk-vm", "canonical_host"]
