[package]
name = "dusk-data-driver"
version = "0.3.2-alpha.1"
edition = "2024"

description = "Data driver contract interface to support json serialization"
repository = "https://github.com/dusk-network/rusk"

license.workspace = true
rust-version.workspace = true

[dependencies]
rkyv = { workspace = true, features = ["size_32", "alloc", "validation"] }
bytecheck = { workspace = true }

# serde support dependencies
serde = { workspace = true }
serde_json = { workspace = true }

# WASM runtime for reader feature
# TODO: replace with wasmtime in the future
dusk-wasmtime = { workspace = true, optional = true }
parking_lot = { workspace = true, optional = true }
dusk-core = { workspace = true, optional = true }

[dev-dependencies]
base64 = { workspace = true }

[features]
wasm-export = []
alloc = []
reader = ["dep:dusk-wasmtime", "dep:parking_lot", "dep:dusk-core"]
