[package]
name = "transfer-circuits"
version = "0.4.0"
edition = "2021"

[dependencies]
rand_core = "0.6"

dusk-bytes = "0.1"
dusk-bls12_381 = "0.9"
dusk-jubjub = "0.11"
dusk-plonk = "0.10"
dusk-poseidon = { version = "0.25.0-rc", features = ["canon"] }
dusk-pki ="0.10.0-rc"
dusk-schnorr = "0.10.0-rc"
phoenix-core = { version = "0.16.0-rc", features = ["canon"] }
canonical = "0.7"
canonical_derive = { version = "0.7", optional = true }

code-hasher = { path = "../../macros/code-hasher" }
rusk-profile = { path = "../../rusk-profile", optional = true }

[dev-dependencies]
rand = "0.8"

[features]
builder = ["rusk-profile", "canonical_derive"]

[[test]]
name = "test-execute"
path = "tests/execute.rs"
required-features = ["builder"]

[[test]]
name = "test-stct"
path = "tests/send_to_contract_transparent.rs"
required-features = ["rusk-profile"]

[[test]]
name = "test-stco"
path = "tests/send_to_contract_obfuscated.rs"
required-features = ["rusk-profile"]

[[test]]
name = "test-wft"
path = "tests/withdraw_from_transparent.rs"
required-features = ["rusk-profile"]

[[test]]
name = "test-wfo"
path = "tests/withdraw_from_obfuscated.rs"
required-features = ["rusk-profile"]
