[package]
name = "alice"
version = "0.3.0"
edition = "2021"
resolver = "2"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
canonical = "0.7"
canonical_derive = "0.7"
dusk-abi = "0.11"
dusk-pki = { version = "0.10.0-rc", default-features = false }
phoenix-core = { version = "0.16.0-rc", default-features = false }
rusk-abi = { path = "../../../rusk-abi" }
transfer-contract = { path = "../../../contracts/transfer" }
