[package]
name = "node"
version = "0.1.0"
edition = "2021"
autobins = false
description = "An implementation of dusk-blockchain node in pure Rust"
categories = ["cryptography", "cryptography::cryptocurrencies"]
keywords = ["dusk", "cryptocurrency", "blockchain", "node"]
license = "MPL-2.0"

[dependencies]
tracing = "0.1"
hex = "0.4"
dusk-consensus = { version = "0.1.1-rc.3", path = "../consensus" }
kadcast = "0.6.0-rc"
sha3 = { version = "0.10" }
anyhow = "1.0"
async-trait = "0.1"
tokio = { version = "1", features = ["full"] }
tracing-subscriber = { version = "0.3", features = [
    "fmt",
    "env-filter",
    "json",
] }
async-channel = "1.7"

rocksdb_lib = { package = "rocksdb", version = "0.21", default-features = false }
dusk-bytes = "^0.1"
node-data = { version = "0.1", path = "../node-data" }
rustc_tools_util = "=0.2.0"
blake2 = "0.10.5"
dusk-bls12_381-sign = { version = "0.5", default-features = false }
console-subscriber = { version = "0.1.8", optional = true }
smallvec = "1.10.0"

serde = "1.0"

[dev-dependencies]
fake = { version = "2.5", features = ['derive'] }
node-data = { version = "0.1", path = "../node-data", features = ["faker"] }
rand = "0.8"
rand_core = "0.6"
tempdir = "0.3"

[build-dependencies]
rustc_tools_util = "=0.2.0"

[features]
with_telemetry = ["dep:console-subscriber"]
