hr {
  text-align: center;
  overflow: visible;
  border: none;
  border-top: 1px solid var(--divider-color-primary);
  width: 100%;
  height: 1px;
  padding: 0;
}

hr.glyph:after {
  display: inline-block;
  position: relative;
  top: -1.1em;
  font-size: 1em;
  border: solid thin var(--divider-border-color);
  border-radius: 2em;
  padding: 0.5em 1.25em;
  background-color: var(--divider-background-color);
}
