[package]
name = "rusk-recovery"
version = "0.5.1"
edition = "2021"
autobins = false
description = "Tool to restore Rusk to factory settings"

[lib]
name = "rusk_recovery_tools"
path = "src/lib.rs"

[[bin]]
name = "rusk-recovery-keys"
path = "src/bin/keys.rs"
required-features = ["keys"]

[[bin]]
name = "rusk-recovery-state"
path = "src/bin/state.rs"
required-features = ["state"]

[build-dependencies]
rustc_tools_util = "=0.2.0"

[dependencies]
hex = "0.4"
rustc_tools_util = "0.2"
dusk-plonk = { version = "0.10", features = ["canon", "std"] }
dusk-pki ="0.10.0-rc"
phoenix-core = "0.16.0-rc"
rand = "0.8"
transfer-circuits = { path = "../circuits/transfer", features=["builder"] }
transfer-contract = { path = "../contracts/transfer", default-features = false }
stake-contract = { path = "../contracts/stake", default-features = false }
microkelvin = { version = "0.15.0-rc", features = ["persistence"] }
rusk-vm = "0.12.0-rc"
rusk-profile = { path = "../rusk-profile" }
rusk-abi = { path = "../rusk-abi" }
once_cell = "1.13"
canonical = "0.7"
canonical_derive = "0.7"
dusk-bytes = "0.1"
dusk-bls12_381 = "0.9"
dusk-bls12_381-sign = "0.3.0-rc"
clap = { version = "4.0.29", features = ["cargo", "env", "derive"] }
thiserror = "1.0"
console = "0.12"
tracing = "0.1"
tracing-subscriber = { version = "0.2.0", features = ["fmt"] }
http_req = "0.8"
zip = "0.5"
url = "2.3"

serde_derive = { version = "1", optional = true }
serde = { version = "1", optional = true }
toml = { version = "0.5", optional = true }
bs58 = { version = "0.4", optional = true }
tempfile = "3.3"
walkdir = "2.3"

[features]
state = ["serde_derive", "serde", "toml", "bs58"]
keys = []
