[package]
name = "rusk-recovery"
version = "0.6.0"
edition = "2021"
autobins = false
description = "Tool to restore Rusk to factory settings"

[lib]
name = "rusk_recovery_tools"
path = "src/lib.rs"


[dependencies]
hex = "0.4"
dusk-plonk = { version = "0.16", features = ["rkyv-impl"] }
dusk-pki ="0.13"
phoenix-core = { version = "0.21", features = ["rkyv-impl", "alloc"] }
rand = "0.8"
rusk-profile = { version = "0.6", path = "../rusk-profile" }
rusk-abi = { version = "0.12.0-rc", path = "../rusk-abi", default-features = false, features = ["host"] }
once_cell = "1.13"
dusk-bytes = "0.1"
dusk-bls12_381 = "0.12"
dusk-bls12_381-sign = "0.5"
tracing = { version = "0.1", features = ["log"] }
http_req = "0.8"
zip = "0.5"
url = "2.3"
flate2 = "1"
tar = "0.4"

serde_derive = { version = "1", optional = true }
serde = { version = "1", optional = true }
toml = { version = "0.5", optional = true }
bs58 = { version = "0.4", optional = true }
tempfile = "3.3"

[features]
state = ["serde_derive", "serde", "toml", "bs58"]
keys = []
