[package]
name = "rusk-recovery"
version = "0.6.0"
edition = "2021"
autobins = false
description = "Tool to restore Rusk to factory settings"

[lib]
name = "rusk_recovery_tools"
path = "src/lib.rs"

[[bin]]
name = "rusk-recovery-keys"
path = "src/bin/keys.rs"
required-features = ["keys"]

[[bin]]
name = "rusk-recovery-state"
path = "src/bin/state.rs"
required-features = ["state"]

[build-dependencies]
rustc_tools_util = "=0.2.0"

[dependencies]
hex = "0.4"
rustc_tools_util = "0.2"
dusk-plonk = { version = "0.13", features = ["rkyv-impl"] }
dusk-pki ="0.11"
phoenix-core = { version = "0.18", features = ["rkyv-impl", "alloc"] }
rand = "0.8"
transfer-circuits = { version = "0.5", path = "../circuits/transfer", features=["builder"] }
dusk-merkle = "0.4.1-rc.0"
rusk-profile = { version = "0.6", path = "../rusk-profile" }
rusk-abi = { version = "0.8.0-alpha", path = "../rusk-abi", default-features = false, features = ["host"] }
once_cell = "1.13"
dusk-bytes = "0.1"
dusk-bls12_381 = "0.11"
dusk-bls12_381-sign = "0.4"
clap = { version = "3.1", features = ["cargo", "env", "derive"] }
thiserror = "1.0"
console = "0.12"
tracing = { version = "0.1", features = ["log"] }
tracing-subscriber = { version = "0.2.0", features = ["fmt"] }
http_req = "0.8"
zip = "0.5"
url = "2.3"
flate2 = "1"
tar = "0.4"

serde_derive = { version = "1", optional = true }
serde = { version = "1", optional = true }
toml = { version = "0.5", optional = true }
bs58 = { version = "0.4", optional = true }
tempfile = "3.3"

[features]
state = ["serde_derive", "serde", "toml", "bs58"]
keys = []
