.dusk-balance {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.dusk-balance__header > h2 {
  font-size: 1.125em;
  line-height: 150%;
  letter-spacing: -0.01125em;
}

.dusk-balance__dusk {
  display: flex;
  align-items: center;
  gap: 0.5em;
  justify-content: center;
}

.dusk-balance__dusk > strong {
  font-size: 1.75em;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.0175em;
}

.dusk-balance__fiat > strong {
  font-size: 1em;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.01em;
  visibility: hidden;
  color: var(--muted-color);
}

.dusk-balance__fiat--visible > strong {
  visibility: unset;
}

.dusk-balance__usage {
  padding: 0.62em 0.75em;
  margin-top: 0.62em;
}
