.dusk-card {
  background-color: var(--surface-color);
  border-radius: var(--control-border-radius-size);
  padding: 1.3rem 2rem;
  display: flex;
  flex-direction: column;
}

.dusk-card--on-surface {
  background-color: var(--on-primary-color);
}

.dusk-card--gap-small {
  gap: 0.5em;
}

.dusk-card--gap-default {
  gap: 0.625em;
}

.dusk-card--gap-medium {
  gap: 1.25em;
}

.dusk-card--gap-large {
  gap: 1.875em;
}
