.dusk-mnemonic__validate-actions-wrapper {
	display: grid;
	gap: var(--default-gap);
	grid-template-columns: var(--mobile-grid-template-columns);
	margin-top: 1em;
}

.dusk-mnemonic__actions-wrapper,
.dusk-mnemonic__authenticate-actions-wrapper {
	display: flex;
	flex-direction: column;
}

.dusk-mnemonic__actions-wrapper {
	margin-bottom: 1em;
	gap: var(--default-gap);
}

.dusk-mnemonic__actions-wrapper button {
	flex: 1;
}

.dusk-mnemonic__authenticate-actions-wrapper {
	margin-top: 1em;
	gap: var(--default-gap);
}

.dusk-mnemonic__suggestions-wrapper {
	display: grid;
	grid-auto-flow: row;
	grid-auto-columns: 1fr;
	gap: var(--default-gap);
}

@media (min-width: 600px) {
	.dusk-mnemonic__validate-actions-wrapper {
		grid-template-columns: var(--tablet-grid-template-columns);
	}

	.dusk-mnemonic__suggestions-wrapper {
		grid-auto-flow: column;
	}

	.dusk-mnemonic__actions-wrapper {
		flex-direction: row;
	}
}

@media (min-width: 800px) {
	.dusk-mnemonic__validate-actions-wrapper {
		grid-template-columns: var(--desktop-grid-template-columns);
	}

	.dusk-mnemonic__suggestions-wrapper {
		grid-auto-flow: column;
	}
}
