.dusk-select {
  display: inline-block;
  appearance: none;
  font-family: inherit;
  font-size: var(--control-font-size);
  letter-spacing: inherit;
  padding: var(--control-padding);
  padding-right: 2.25em;
  background-color: var(--non-button-control-bg-color);
  border-color: var(--control-border-color);
  border-radius: var(--control-border-radius-size);
  border-style: solid;
  border-width: var(--control-border-size);
  background-position:
    calc(100% - 1.4em) 50%,
    calc(100% - 1em) 50%;
  background-size:
    0.4em 0.4em,
    0.4em 0.4em;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      45deg,
      transparent 50%,
      var(--non-button-control-text-color) 50%
    ),
    linear-gradient(
      135deg,
      var(--non-button-control-text-color) 50%,
      transparent 50%
    );
}

.dusk-select,
.dusk-select option {
  color: var(--non-button-control-text-color);
}

.dusk-select:disabled {
  opacity: 0.5;
}

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
.dusk-select::ms-expand {
  display: none;
}
