.dusk-textbox {
  font-size: var(--control-font-size);
  padding: var(--control-padding);
  background-color: var(--control-bg-color);
  border-color: var(--control-border-color);
  border-radius: var(--control-border-radius-size);
  border-style: solid;
  border-width: var(--control-border-size);
}

.dusk-textbox:disabled,
.dusk-textbox::placeholder {
  opacity: 0.5;
}

.dusk-textbox:read-only {
  outline: 0 none;
}

.dusk-textbox.dusk-textbox-multiline {
  line-height: 1.3;
}
