[package]
name = "rusk-prover"
version = "0.2.0"
edition = "2021"
autobins = false


[dependencies]
dusk-bytes = { version = "0.1" }

## feature local_prover
once_cell = { version = "1.9", optional = true }
dusk-plonk = { version = "0.16", optional = true }
dusk-wallet-core = { version = "0.22.0-plonk.0.16", default-features = false }
phoenix-core = { version = "0.21", optional = true }
dusk-pki = { version = "0.13", optional = true }
dusk-schnorr = { version = "0.14", optional = true }
rand = { version = "0.8", optional = true }
rusk-profile = { version = "0.6", path = "../rusk-profile", optional = true }
transfer-circuits = { version = "0.5", path = "../circuits/transfer", optional = true }

[dev-dependencies]
hex = "0.4"
tokio = { version = "1.17.0", features = ["full"] }

[features]
default = ["local_prover"]
local_prover = [
    "once_cell",
    "dusk-plonk",
    "phoenix-core",
    "dusk-pki",
    "dusk-schnorr",
    "rand",
    "rusk-profile",
    "transfer-circuits",
]
