.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.\*
!.env.example

# Temporary until we properly release w3sper.js

/src/lib/vendor

# Ignore files for PNPM, NPM and YARN

pnpm-lock.yaml
package-lock.json
yarn.lock
