:root {
  /* Dark Greys */

  --granite-grey: #636167;
  --jet: #2e2d30;
  --smokey-black: #101010;

  /* Greys */

  --light-grey: #e2dfe9;
  --magnolia: #edeaf3;
  --silver-metallic: #a8a5af;
  --taupe-grey: #908e94;

  /* Blues */

  --cornflower: #71b1ff;
  --cornflower-dark: #0b79ff;
  --cornflower-light: #a4cdff;

  --accent-light-900: #04336b;
  --accent-dark-900: #abd1ff;

  /* Status */

  --success: #16db93;
  --warning: #ffcf23;
  --error: #ed254e;
  --info: #71b1ff;

  --success-500: #16db93;
  --success-700: #0f9363;
  --warning-500: #ffcf23;
  --warning-700: #d1a300;
  --error-500: #ed254e;
  --error-700: #8e112c;
  --info-500: #71b1ff;
  --info-700: #0863d1;
}
