:root {
  /* Dark Greys */

  --granite-grey: #636167;
  --jet: #2e2d30;
  --smokey-black: #101010;

  /* Greys */

  --light-grey: #e2dfe9;
  --magnolia: #edeaf3;
  --silver-metallic: #a8a5af;
  --taupe-grey: #908e94;

  /* Blues */

  --cornflower: #71b1ff;
  --cornflower-dark: #0b79ff;
  --cornflower-light: #a4cdff;

  /* Status */

  --success: #16db93;
  --warning: #ffcf23;
  --error: #ed254e;
  --info: #71b1ff;
}
