[package]
name = "rusk"
version = "0.2.0"
edition = "2021"
autobins = false

[lib]
name = "rusk"
path = "src/lib/lib.rs"

[[bin]]
name = "rusk"
path = "src/bin/main.rs"

[dependencies]
tonic = "0.6"
tokio = { version = "1.15", features = ["rt-multi-thread", "time", "fs", "macros"] }
async-stream = "0.3"
tracing = "0.1"
tracing-subscriber = { version = "0.3.0", features = ["fmt", "env-filter"] }
clap = { version = "3.0", features = ["env"] }
prost = "0.9"
futures = "0.3"
anyhow = "1.0"
rustc_tools_util = "0.2"
rand = "0.8"
once_cell = "1.9"
blake2 = "0.10"
toml = "0.5"
serde = "1.0"

dusk-schnorr = "0.9.0-rc"
dusk-poseidon = { version = "0.23.0-rc", features = ["canon"] }
dusk-plonk = { version = "0.9", features = ["canon" ]}
dusk-bls12_381 = { version = "0.8", features = ["canon"] }
dusk-jubjub = { version = "0.10", features = ["canon"] }
dusk-pki = "0.9.0-rc"
dusk-bytes = "0.1"
dusk-wallet-core = "0.4"
dusk-abi = "0.10"
rusk-vm = { version = "0.8.0-rc", features = ["persistence"] }
phoenix-core = "0.15.0-rc"
kadcast = "0.4.0-rc"
canonical = "0.6"
canonical_derive = "0.6"

rusk-recovery = { path = "../rusk-recovery", features = ["state"] }
transfer-circuits = { path = "../circuits/transfer" }
transfer-contract = { path = "../contracts/transfer" }
rusk-profile = { path = "../rusk-profile" }
microkelvin = { version = "0.10", features = ["persistence"] }
rusk-abi = { path = "../rusk-abi" }
parking_lot = "0.11"

[dev-dependencies]
tower = "0.4"
test-context = "0.1"
async-trait = "0.1"
tempfile = "3.2"


[build-dependencies]
tonic-build = "0.6"
rustc_tools_util = "0.2"
