[package]
name = "rusk"
version = "0.5.0-rc.0"
edition = "2021"
autobins = false

[lib]
name = "rusk"
path = "src/lib/lib.rs"

[[bin]]
name = "rusk"
path = "src/bin/main.rs"

[dependencies]
tonic = "0.6"
tokio = { version = "1.15", features = ["rt-multi-thread", "time", "fs", "macros"] }
tokio-stream = "0.1"
tokio-util = { version = "0.7", features = ["rt"] }
async-stream = "0.3"
tracing = "0.1"
tracing-subscriber = { version = "0.3.0", features = ["fmt", "env-filter"] }
hyper = { version = "0.14", features = ["full"] }
clap = { version = "3.1", features = ["env"] }
prost = "0.9"
tower = "0.4"
futures = "0.3"
semver = "1.0"
anyhow = "1.0"
rustc_tools_util = "0.2"
rand = "0.8"
once_cell = "1.9"
blake2 = "0.10"
toml = "0.5"
serde = "1.0"
bs58 = "0.4"
hex = "0.4"
uuid = { version = "1.1", features = ["v4", "fast-rng"] }

dusk-schnorr = "0.10.0-rc"
dusk-poseidon = { version = "0.25.0-rc", features = ["canon"] }
dusk-plonk = { version = "0.10", features = ["canon"] }
dusk-bls12_381 = { version = "0.9", features = ["canon"] }
dusk-bls12_381-sign = { version = "0.3.0-rc", features = ["canon"] }
dusk-jubjub = { version = "0.11", features = ["canon"] }
dusk-pki = "0.10.0-rc"
dusk-bytes = "0.1"
dusk-wallet-core = "0.14.0-rc.0"
dusk-abi = "0.11"
rusk-vm = "0.12.0-rc"
phoenix-core = "0.16.0-rc"
kadcast = "0.4.0-rc.5"
canonical = "0.7"
canonical_derive = "0.7"
parking_lot = "0.12"

rusk-recovery = { path = "../rusk-recovery", features = ["state"] }
transfer-circuits = { path = "../circuits/transfer" }
transfer-contract = { path = "../contracts/transfer" }
stake-contract = { path = "../contracts/stake" }
rusk-profile = { path = "../rusk-profile" }
microkelvin = { version = "0.15.0-rc", features = ["persistence"] }
rusk-abi = { path = "../rusk-abi" }
rusk-schema = { path = "../rusk-schema" }

[dev-dependencies]
test-context = "0.1"
async-trait = "0.1"
tempfile = "3.2"
hex = "0.4"

[build-dependencies]
tonic-build = "0.6"
rustc_tools_util = "0.2"
