[package]
name = "rusk"
version = "0.6.0"
edition = "2021"
autobins = false

[lib]
name = "rusk"
path = "src/lib/lib.rs"

[[bin]]
name = "rusk"
path = "src/bin/main.rs"

[dependencies]
tonic = "0.8"
tokio = { version = "1.15", features = ["rt-multi-thread", "time", "fs", "macros"] }
tokio-stream = "0.1"
tokio-util = { version = "0.7", features = ["rt"] }
async-stream = "0.3"
tracing = "0.1"
tracing-subscriber = { version = "0.3.0", features = ["fmt", "env-filter", "json"] }
hyper = { version = "0.14", features = ["full"] }
clap = { version = "3.1", features = ["env"] }
prost = "0.11"
tower = "0.4"
futures = "0.3"
semver = "1.0"
anyhow = "1.0"
rustc_tools_util = "0.3"
rand = "0.8"
once_cell = "1.9"
blake2 = "0.10"
toml = "0.5"
serde = "1.0"
bs58 = "0.4"
hex = "0.4"
tempfile = "3.2"

dusk-schnorr = "0.12"
dusk-poseidon = "0.28"
dusk-plonk = "0.13"
dusk-bls12_381 = "0.11"
dusk-bls12_381-sign = "0.4"
dusk-jubjub = "0.12"
dusk-pki = "0.11"
dusk-bytes = "0.1"
dusk-wallet-core = "0.16.0-piecrust.0.5"
phoenix-core = "0.18"
piecrust = "0.5"
kadcast = "0.5.0-rc"
parking_lot = "0.12"
rkyv = "0.7"
bytecheck = "0.6"

rusk-recovery = { version = "0.6", path = "../rusk-recovery", features = ["state"] }
transfer-circuits = { version = "0.5", path = "../circuits/transfer" }
rusk-profile = { version = "0.6", path = "../rusk-profile" }
rusk-abi = { version = "0.8.0-alpha", path = "../rusk-abi", features = ["host"] }
rusk-schema = { version = "0.5", path = "../rusk-schema" }


node = { version = "*", path = "../node"}
dusk-consensus = { version = "0.1.1-rc.3", path = "../consensus"  }
node-data = { version = "0.1", path = "../node-data" }
dirs = "4"

[dev-dependencies]
test-context = "0.1"
async-trait = "0.1"
hex = "0.4"
tempfile = "3.3"

[build-dependencies]
rustc_tools_util = "=0.2.0"
