name: Benchmark CI

on:
  push:
    branches:
      - master
    paths:
      - 'rusk/**'
      - 'node/**'
      - '.github/workflows/benchmarks.yml'

jobs:
  benchmark:
    name: Run Benchmarks
    runs-on: core
    steps:
      - uses: actions/checkout@v4
      - uses: dsherret/rust-toolchain-file@v1
      - run: make bench
      - name: Upload Benchmark Results
        uses: actions/upload-artifact@v4
        with:
          name: rusk-benchmark-results
          path: ./target/criterion
          retention-days: 14
