name: Rusk binary copy 

on:
  push:
    branches:
      - master

jobs:
  # Job to run change detection
  build:
    name: Make rusk 
    runs-on: core
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Rust toolchain 
        uses: dsherret/rust-toolchain-file@v1      

      - name: Setting up Node 24.x
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
          scope: "@dusk-network"

      - name: Build node 
        run: make all 
  copy_to_host:
    needs:  build 
    runs-on: core
    continue-on-error: true
    steps:
      - name: "Check and Copy Rusk Artifact to Host"
        run: |
          # Ensure the target directory exists
          mkdir -p /var/opt/rusk-artifacts
          
          # Check if the rusk artifact exists before copying
          if [ -f ./target/release/rusk ]; then
            echo "Rusk artifact found. Copying to host."
            cp ./target/release/rusk /var/opt/rusk-artifacts
          else
            echo "Rusk artifact not found. Skipping copy."
          fi
