name: Build and Upload Docker Image as Artifact

on:
  workflow_dispatch:
    inputs:
      cargo_features:
        description: "Cargo features to build with"
        required: true
        default: "archive"

jobs:
  build-and-upload:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.ephemeral
          tags: rusk:latest
          build-args: CARGO_FEATURES=${{ github.event.inputs.cargo_features }}
          load: true
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Save Docker image
        run: docker save rusk:latest -o rusk_image.tar

      - name: Upload Docker image as artifact
        uses: actions/upload-artifact@v4
        with:
          name: rusk-image
          path: rusk_image.tar
          retention-days: 5
