on:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

name: Rusk CI

jobs:
  # JOB to run change detection
  changes:
    runs-on: core
    # Required permissions
    permissions:
      pull-requests: read
    # Set job outputs to values from filter step
    outputs:
      run-ci: ${{ steps.filter.outputs.run-ci }}
    steps:
      # For pull requests it's not necessary to checkout the code
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            run-ci:
              - '!(web-wallet/**/*|.github/workflows/webwallet_ci.yml)'
              - '!(explorer/**/*|.github/workflows/explorer_ci.yml)'
              - '!(w3sper.js/**/*|.github/workflows/w3sperjs_ci.yml)'
          predicate-quantifier: "every"

  analyze:
    needs: changes
    if: needs.changes.outputs.run-ci == 'true'

    name: Dusk Analyzer
    runs-on: core
    steps:
      - uses: actions/checkout@v4
      - uses: dsherret/rust-toolchain-file@v1
      - run: cargo install --git https://github.com/dusk-network/cargo-dusk-analyzer
      - run: cargo dusk-analyzer

  fmt:
    needs: changes
    if: needs.changes.outputs.run-ci == 'true'

    name: Rustfmt
    runs-on: core
    steps:
      - uses: actions/checkout@v4
      - uses: dsherret/rust-toolchain-file@v1
      - run: cargo fmt --all -- --check

  clippy_check:
    needs: changes
    if: needs.changes.outputs.run-ci == 'true' && (github.event.pull_request.draft == false || github.event_name == 'workflow_dispatch')
    name: Clippy check release
    runs-on: core
    env:
      RUSK_PROFILE_PATH: "/var/opt/build-cache"
    steps:
      - uses: actions/checkout@v4
      - uses: dsherret/rust-toolchain-file@v1
      - run: make setup-compiler
      - run: make clippy

  test_nightly:
    needs: changes
    if: needs.changes.outputs.run-ci == 'true' && (github.event.pull_request.draft == false || github.event_name == 'workflow_dispatch')
    name: Nightly tests
    runs-on: core
    env:
      RUSK_MINIMUM_BLOCK_TIME: 1
    steps:
      - uses: actions/checkout@v4
      - uses: dsherret/rust-toolchain-file@v1
      - run: make test
