on:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

name: Rusk CI

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  # JOB to run change detection
  changes:
    runs-on: core
    # Required permissions
    permissions:
      pull-requests: read
    # Set job outputs to values from filter step
    outputs:
      run-ci: ${{ github.event_name == 'workflow_dispatch' && 'true' || steps.filter.outputs.run-ci }}
    steps:
      # For pull requests it's not necessary to checkout the code
      - uses: dorny/paths-filter@v3
        id: filter
        if: github.event_name != 'workflow_dispatch'
        with:
          filters: |
            run-ci:
              - '!(w3sper.js/**/*|.github/workflows/w3sperjs_ci.yml)'

  analyze:
    needs: changes
    if: needs.changes.outputs.run-ci == 'true'
    name: Dusk Analyzer
    uses: dusk-network/.github/.github/workflows/dusk-analysis.yml@main

  fmt:
    needs: changes
    if: needs.changes.outputs.run-ci == 'true'

    name: Rustfmt
    runs-on: core
    steps:
      - uses: actions/checkout@v4
        with:
          clean: false
      - uses: dsherret/rust-toolchain-file@v1
      - run: cargo fmt --all -- --check

  clippy_check:
    needs: changes
    if: needs.changes.outputs.run-ci == 'true' && (github.event.pull_request.draft == false || github.event_name == 'workflow_dispatch')
    name: Clippy check release
    runs-on: core
    env:
      RUSK_PROFILE_PATH: "/var/opt/build-cache"
    steps:
      - uses: actions/checkout@v4
        with:
          clean: false
      - uses: dsherret/rust-toolchain-file@v1
      - run: make clippy
      - name: sccache stats
        if: always()
        run: sccache -s || true

  test_nightly:
    needs: changes
    if: needs.changes.outputs.run-ci == 'true' && (github.event.pull_request.draft == false || github.event_name == 'workflow_dispatch')
    name: Nightly tests
    runs-on: core
    env:
      RUSK_MINIMUM_BLOCK_TIME: 1
    steps:
      - uses: actions/checkout@v4
        with:
          clean: false
      - uses: dsherret/rust-toolchain-file@v1
      - run: make test
      - name: sccache stats
        if: always()
        run: sccache -s || true
